force-app/main/default/flows/Gen_AI_Summarize_Customer_Reviews.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_JSON_Response</name>
        <label>Parse JSON Response</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>AIGeneratedSummary</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Product_with_AI_Generated_Customer_Summary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>Summarize_Customer_Reviews.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AIGeneratedSummary</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Summarize_Customer_Reviews</name>
        <label>Summarize Customer Reviews</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>Summarize_Customer_Reviews</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Parse_JSON_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Bike</name>
            <value>
                <elementReference>Get_Bike_Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Summarize_Customer_Reviews</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <description>This flows summarizes customer feedback using a prompt template</description>
    <environments>Default</environments>
    <interviewLabel>Gen AI: Summarize Customer Reviews {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gen AI: Summarize Customer Reviews</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Bike_Record</name>
        <label>Get Bike Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Summarize_Customer_Reviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_with_AI_Generated_Customer_Summary</name>
        <label>Update Product with AI Generated Summary of Customer Reviews</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AI_Generated_Customer_Feedback__c</field>
            <value>
                <elementReference>Parse_JSON_Response.AIGeneratedFeedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Generated_Sentiment__c</field>
            <value>
                <elementReference>Parse_JSON_Response.AIGeneratedSentiment</elementReference>
            </value>
        </inputAssignments>
        <object>Product__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bike_Record</targetReference>
        </connector>
        <object>Reviews__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
